@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/halloween_sun_2014.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body,
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    height: 50%;
    width: 50%;
    animation: changeGlass 10s infinite;
}

h1 {
    font-family: 'Share Tech Mono', monospace;;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

@keyframes changeGlass {
    from {
        background-color: rgba(250, 0, 250, 0.2);
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 20px 1px rgba(250, 250, 250, 0.2);
    }
    20% {
        background-color: rgba(0, 250, 250, 0.2);
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 20px 1px rgba(0, 250, 250, 0.2);
    }
    40% {
        background-color: rgba(250, 0, 250, 0.2);
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 20px 1px rgba(250, 0, 250, 0.2);
    }
    60% {
        background-color: rgba(250, 250, 0, 0.2);
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 20px 1px rgba(250, 250, 0, 0.2);
    }
    80% {
        background-color: rgba(0, 250, 250, 0.2);
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 20px 1px rgba(250, 250, 250, 0.2);
    }
    100% {
        background-color: rgba(250, 0, 250, 0.2);
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 20px 1px rgba(250, 0, 250, 0.2);
    }
}
